{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link href="{% static 'chat/style/chat.css' %}" rel="stylesheet" >
    <script src="{% static 'chat/js/chat.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'chat/img/chat.png' %}" type="image/x-icon">
</head>
<body>
    <div class="main_div">
        <div class = "background_main_div">
            <h3 class = "chat_name">Групповой чат</h3>
        </div>
        <div class = "main_div_in_chat">
            <div class = "chat_header">
            <div class="header_chat_username">
                <label>USERNAME:
                    <span>
                        {{ nikname }}
                    </span>
                </label>
            </div>
            <div class = "header_time">
                Sat, 2:22 PM
            </div>
        </div>
        <div class = "chat">
            <div class="hee_message">
                <div class="text">
                    Привет, кто чем занимаеться?
                    прикиньте я сегодня 5 пулучил :)
                </div>
                <div class="logo">
                    <!--                    Изображение  лого-->
                    G
                </div>
                <p class = "date_time">
                    3.09.2021 в 13:22 <br>
                    username:12345677
                </p>
            </div>

            <div class="hee_message">
                <div class="text">
                    Ой да ладно я тоже :)
                </div>
                <div class="logo">
                    <!--                    Изображение  лого-->
                    G
                </div>
                <p class = "date_time">
                    3.09.2021 в 13:22 <br>
                    username:12345677
                </p>
            </div>

            <div class="hee_message">
                <div class="text">
                    Блин я мне русскому языку 4 поставили, а химичка вообще 3 хотел апосавить но потом сказала
                    что вообще ничего ставить не буду :()
                </div>
                <div class="logo">
                    <!--                    Изображение  лого-->
                    G
                </div>
                <p class = "date_time">
                    3.09.2021 в 13:22 <br>
                    username:12345677
                </p>
            </div>

            <div class = "my_message">
                <div class = "text">
                    Я вообще заболел и думаю, ещё неделю не смогу ходит у школу
                </div>
                <p class="date_time">
                    3.09.2021 в 13:22
                </p>
            </div>

            <div class = "my_message">
                <div class = "text">
                    Блин как жалко
                </div>
                <p class="date_time">
                    3.09.2021 в 13:22
                </p>
            </div>
            <div class="hee_message">
                <div class="text">
                    Везёть-же кому то:)
                </div>
                <div class="logo">
                    G
                </div>
                <p class = "date_time">
                    3.09.2021 в 13:22 <br>
                    username:12345677
                </p>
            </div>
            <div class = "my_message">
                <div class = "text">
                    Ой да ну тебя
                </div>
                <p class="date_time">
                    3.09.2021 в 13:22
                </p>
            </div>
            <div class = "my_message">
                <div class = "text">
                    Леньтяй !
                </div>
                <p class="date_time">
                    3.09.2021 в 13:22
                </p>
            </div>
        </div>
            <form class ="send_message" >
                <input type="button" class = "button">
                <input type="text" placeholder="Расскажи своё мнение..." class="text" value="">

            </form>
        </div>
    </div>
</body>
</html>
